<div class="container">

  <%= render 'shared/page_title', title: 'All Chefs' %>
  
  <ul class="nav nav-tabs">
    <li>
      <%= link_to "Recipes", recipes_path %>
    </li>
    <li class="active">
      <%= link_to "Chefs", chefs_path %>
    </li>
  </ul>
  
  <div class="row center">
    <%= will_paginate %>
  </div>
  
      <% @chefs.each do |chef| %>
      
      <div class="row center">
      
        <div class = "col-md-4 col-md-offset-4">
          <section class="chef_info center"><!--this is an area for the gravatar-->
            <%= link_to gravatar_for(chef, size: 200), chef_path(chef) %>
            <h5>Chef name: <%= chef.chefname %></h5>
          </section>
        </div>
      </div>
      <hr/>
      
      <% end %>
    
  <div class="row center">
    <%= will_paginate %>
  </div>
  
</div>