<div class="row">
  <div class= "well col-md-8 col-md-offset-2">
    <%= form_for @recipe do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title %>
      
      <%= f.label :description %>
      <%= f.text_field :description %>
      
      <%= f.label :summary %>
      <%= f.text_area :summary, rows: 10 %>
      
      <%= f.submit(@recipe.new_record? ? 'Create Recipe' : 'Edit Recipe', class: 'btn btn-success') %>
    <% end %>
  </div>
</div>