<div class="container">
  <%= render 'shared/page_title', title: @recipe.title %>
  <div class="row">
    <div class="col-md-4 pull-right center">
      <%= link_to gravatar_for(@recipe.chef, size: 200), chef_path(@recipe.chef) %>
      <p>
        <h5>Brought to you by: <%= @recipe.chef.chefname %></h5>
      </p>
      <p>
        Created <%= time_ago_in_words(@recipe.created_at) %> ago
      </p>
    </div>
    <div class="col-md-8">
      <h3><%= @recipe.description %></h3>
      <div class="show_recipe">
        <%= image_tag(@recipe.picture.url, class: "gravatar") if @recipe.picture %>
      </div>
      <div class="well">
        <p>
          <strong>Steps:</strong>
          <p>
            <%= simple_format(@recipe.summary)%>
            <% if @recipe.styles.any? %>
              <p>
                <small>Styles:</small> <%= render @recipe.styles %>
              </p>
            <% end %>
            <% if @recipe.ingredients.any? %>
              <p>
                <small>Ingredients:</small> <%= render @recipe.ingredients %>
              </p>
            <% end %>
              <div class = "pull-right">
              <%= link_to like_recipe_path(@recipe, like: true), method: :post do %>
                <i class="glyphicon glyphicon-thumbs-up"></i> &nbsp <%= @recipe.thumbs_up_total %>
              <% end %> &nbsp&nbsp&nbsp&nbsp
              <%= link_to like_recipe_path(@recipe, like: false), method: :post do %>
                <i class="glyphicon glyphicon-thumbs-down"></i> &nbsp <%= @recipe.thumbs_down_total %>
              <% end %>
          </p>
        </p>
      </div>
      <p>
        <table style='width:100%'>
          <tr>
            <th><h5><%= link_to 'Return to Recipes Listing', recipes_path %></h5></th>
            <% if current_user == @recipe.chef %>
              <th><h5 style='text-align:right'><%= link_to 'Edit Recipe', edit_recipe_path(@recipe) %></h5></th>
            <% end %>
          </tr>
        </table>
      </p>
    </div>
  </div>
</div>

